body{
    background-color: aquamarine;
}
.container{
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.poema {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.poema h2 {
    margin-top: 30px;
}
