body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite
}

.container {
    background-color: #506E6A;
    text-align: center;
    padding: 20px;
}

.container h1 {
    color: white;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    padding: 10px 15px;
    border: solid #506E6A 1px;
    display: block;
    border-radius: 10px;
}

.menu a:hover {
    background-color: #506E6A;
    color: white;
}

.desenhos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

.desenhos img {
    width: 200px;
    border-radius: 10px;
}

section {
    padding: 20px;
}

.dark {
    background-color: #1e1e2f;
    color: white;
}

.dark .menu a {
    color: white;
}

.dark .container {
    background-color: #222;
}

@media (max-width: 768px){
.menu ul {
    display: flex;
}

.menu ul.ativo {
    display: block;
}}

.principal {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
}

.linhas {
    min-width: 200px;
    padding: 15px;
    background-color: #506E6A;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.linhas:hover {
    transform: scale(1.05);
    background-color: #3e5552;
}

@media (max-width: 768px){
.militar {
    display: flex;
    align-items: center;
    gap: 20px;
}
}
.texto-militar {
    flex: 1;
}

.marinha {
    width: 200px;
    border-radius: 10px;
}

.formulario {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario textarea{
    height: 120px;
}